.banner-section {
    height: calc(90vh - 40px);
}
.banner-header {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    text-transform: uppercase;
}
.banner-content {
    color: #FFF;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}