* {
    background-color: #000000;
}
/*navbar*/
.header-navbar {
    display: flex;
    align-items: center;
}
.header-navbar .navbar-link{
    color: #ffffff !important;
    font-family: 'Bai Jamjuree', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

/*logo section*/
.header-logo {
    text-align: center;
}

/*action bar*/
.header-action-bar {
    display: flex;
    align-items: center;
    justify-content: end;
}
.header-action-bar .action-bar-icon-button{
    color: #ffffff;
    width: 26px;
    height: 26px;
}
.header-action-bar .action-bar-icon-button:hover{
    cursor: pointer;
}
